<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/style.css">
</head>
<title> </title>
<body>
<h1>Data is successfully posted <%= data.firstname%> and <%= data.lastname%></h1>
</body>

</html>
